<ion-view view-title="Your phone will die...">
  <ion-content id="test">
    <div class="padding">
      <p>Basé sur les plugins précédemment utilisés :<br>- Flashlight<br>- Vibration<br>- Statusbar</p>
      <p>Durée : 5 secondes.</p>
      <button class="button button-block button-positive" ng-click="Epilepsie()">Sniffez*, Lancez !</button>
      <p class="mention">* Respirez</p>
    </div>
  </ion-content>
</ion-view>
