<ion-view view-title="Allumer la lumière">
  <ion-content>
    <div class="padding">
      <h1>Allumeeeeeer le feu !</h1>
      <p>Ce bouton sert à allumer ou éteindre la lampe de votre smartphone !</p>
      <button class="button button-block button-positive" ng-click="switchLight()">Switch light</button>
    </div>
  </ion-content>
</ion-view>
