<ion-view view-title="Status bar">
  <ion-content>
    <div class="padding">
      <h1>Life in colors !</h1>
      <p>Le plugin Statusbar permet de changer la couleur de la barre de statut. Testons-le !</p>
      <button class="button button-block button-positive" ng-click="ChangeColor()">Couleur aléatoire</button>
      <button class="button button-block button-positive" ng-click="ResetColor()">Reset</button>
    </div>
  </ion-content>
</ion-view>
