<ion-view view-title="Vibration">
  <ion-content>
    <div class="padding">
      <h1>Tu me fais vibrer !</h1>
      <p>Ce bouton sert à faire vibrer votre smartphone pendant 3 secondes !</p>
      <button class="button button-block button-positive" ng-click="optionMassage()">Fais-moi vibrer</button>
    </div>
  </ion-content>
</ion-view>
